<section class="competitors-strip font-base relative justify-start bg-password-green pt-0 pb-60">
  <div class="competitors_holder container mx-auto flex flex-wrap gap-4 md:flex-row justify-between w-full max-md:max-w-full">
    <div class="text border-l-2 border-future-green font-normal text-safe-green">
      <a href="/company/segura-vs-cyberark" class="font-title text-safe-green pl-4 text-safe-green">
        <span class="font-semibold">Segura®</span> vs. CyberArk »
      </a>
    </div>
    <div class="text border-l-2 border-future-green font-normal text-safe-green">
      <a href="/company/segura-vs-beyondtrust" class="font-title text-safe-green pl-4 text-safe-green">
        <span class="font-semibold">Segura®</span> vs. BeyondTrust »
      </a>
    </div>
    <div class="text border-l-2 border-future-green font-normal text-safe-green">
      <a href="/company/segura-vs-delinea" class="font-title text-safe-green pl-4 text-safe-green">
        <span class="font-semibold">Segura®</span> vs. Delinea »
      </a>
    </div>
    <div class="text border-l-2 border-future-green font-normal text-safe-green">
      <a href="/company/segura-vs-arcon" class="font-title text-safe-green pl-4 text-safe-green">
        <span class="font-semibold">Segura®</span> vs. Arcon »
      </a>
    </div>
  </div>
</section>
