---
import type { SupportContent } from '../../../content/types';

interface Props {
  content: SupportContent;
}

const { content } = Astro.props;
---

<section class="text_media_proportion font-base bg-password-green py-60 mt-0">
  <div class="content_container container mx-auto w-full max-md:max-w-full">
    <div class="proportion_holder w-full grid grid-cols-1 md:grid-cols-12 md:gap-y-8 gap-x-3 md:gap-x-12 items-start gap-10">
      <div class="text_holder order-2 md:order-none min-w-0 flex flex-col gap-4 h-full justify-center break-words col-span-12 md:col-span-6 text-safe-green border-none">
        <h2 class="text-4xl font-title text-safe-green font-semibold p-0">
          {content.title}
        </h2>
        <p class="text-xl font-normal p-0 text-safe-green" set:html={content.description} />
        <div class="btns_holder flex flex-row flex-wrap gap-4 mt-3 p-0">
          <a class="demo-btn hovered undefined" href={content.ctaLink}>
            {content.ctaText}
          </a>
        </div>
      </div>
      <div class="image_holder col-span-12 md:col-span-6">
        <div class="grid grid-cols-1 md:grid-cols-1 gap-8 grid-cols-1">
          <div class="flex justify-start md:justify-center">
            <img
              src="/images/ratings.png"
              alt="Comparison Segura® with competitors"
              class="img block max-w-full h-auto rounded-10 object-contain w-full"
              width="606"
              height="401"
              loading="lazy"
              decoding="async"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
